################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sample_Project/.vs/Bulk-Operation-Using-CSharp-Reflection/v15
